<!--
  Title: about.component.html
  Author: Brock Hemsouvanh
  Date: 6/23/2024
  Updated: 6/26/24 by Brock Hemsouvanh
  Description: About Us component template for the Nodebucket application
-->

<!-- About Us Page -->
<br /><br />
<div class="container mt-4">
  <div class="card shadow">
    <img src="assets/about-team.jpg" class="card-img-top" alt="Team Image" style="width: 65%; margin: 20px auto; display: block; border: 5px solid #b08d57;">
    <div class="card-body">
      <h1 class="card-title text-center text-ravenclaw-primary">About Us</h1>
      <p class="card-text text-center">
        Welcome to Nodebucket! Our team is a diverse group of passionate professionals dedicated to making task management simple and effective.
        At Nodebucket, we believe that productivity and organization are key to success, both in professional and personal settings. Our application
        is designed to help users prioritize, manage, and track their tasks effortlessly.
        <br /><br />
        Our team consists of experts in software development, user experience design, and project management. Together, we have created a platform that
        not only meets the needs of today’s workforce but also anticipates the needs of the future. We are committed to continuous improvement and innovation,
        ensuring that Nodebucket remains at the forefront of task management solutions.
        <br /><br />
        We understand that managing tasks can sometimes be overwhelming. That's why we’ve integrated features like drag-and-drop task sorting, easy task deletion,
        and customizable lists to make your workflow smoother. Whether you are managing a project at work or organizing your personal to-do list, Nodebucket
        provides the tools you need to stay on top of your tasks.
        <br /><br />
        Thank you for choosing Nodebucket. We are excited to be a part of your productivity journey and are here to support you every step of the way.
        If you have any questions or feedback, please don’t hesitate to contact us. Together, let’s achieve more and stress less.
      </p>
    </div>
  </div>
</div>
