<!--
  Title: page-not-found.component.html
  Author: Brock Hemsouvanh
  Date: 6/21/24
  Description: Custom 404 page for the Nodebucket application
-->
<br />
<div class="container-fluid text-center mt-5">
  <div class="content">
    <h1 class="display-1 accent-text">404</h1>
    <p class="lead accent-text">Page Not Found</p>
    <div class="travolta-img">
      <img src="assets/pulp-fiction-john-travolta.gif" alt="John Travolta lost" class="img-fluid">
    </div>
    <br /><br />
    <p class="description accent-text">Oops! Please try a real page :) </p>
    <a routerLink="/" class="btn btn-primary mt-3">Go Home</a>
  </div>
</div>
