<!--
 * Title: contact.component.html
 * Author: Brock Hemsouvanh
 * Date Created: 6/15/2024
 * Description: Contact Us page for providing company contact information.
 -->
 <br /><br />
 <div class="container mt-5 pt-5">
   <div class="card shadow contact-container">
     <div class="card-body">
       <h1 class="card-title text-center text-ravenclaw-accent">Contact Us!</h1>

       <div class="row mt-5">
         <div class="col-md-6">
           <div class="card h-100 contact-card">
             <div class="card-body contact-card-body">
               <h5 class="card-title text-center text-ravenclaw-accent">Our Location</h5>
               <img src="assets/bellevue-map.png" alt="Nodebucket Office Location" class="img-fluid centered-img">
             </div>
           </div>
         </div>

         <div class="col-md-6">
           <div class="card h-100 contact-card">
             <div class="card-body contact-card-body">
               <h5 class="card-title text-center text-ravenclaw-accent">Contact Information</h5>
               <ul class="list-unstyled text-center text-ravenclaw-secondary">
                 <li><strong>Address:</strong> 1000 Galvin Road South, Bellevue, NE 68005</li>
                 <li><strong>Phone:</strong> (402) 293-2000</li>
                 <li><strong>Email:</strong> info@nodebucket.com</li>
               </ul>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
