/**
 * Title: home.component.css
 * Author: Brock Hemsouvanh
 * Date: 6/16/24
 * Updated: 6/21/24 by Brock Hemsouvanh
 * Description: CSS styles for the home component in the Nodebucket application
 */

 .container {
  padding-top: 100px; /* Ensure the container is not covered by the navbar */
}

.card {
  background-color: var(--card-background); /* Slightly lighter grey for cards */
  color: var(--ravenclaw-accent); /* Text color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: var(--ravenclaw-secondary); /* Bronze color for the title */
}

.card-title h2 {
  color: var(--ravenclaw-secondary);
}

.btn {
  background-color: var(--ravenclaw-primary); /* Dark Blue */
  color: var(--ravenclaw-accent); /* Silver text */
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background-color: var(--ravenclaw-secondary); /* Bronze */
}

.description {
  font-size: 1.2em;
  color: var(--ravenclaw-accent);
}
