<!--
  Title: home.component.html
  Author: Brock Hemsouvanh
  Date: 6/16/24
  Updated: 6/21/24 by Brock Hemsouvanh
  Description: Home component template for the Nodebucket application
-->

<!-- Home Page -->
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Welcome To Nodebucket!</h2>
        </div>
        <div class="card-body text-center">
          <a routerLink="/security/signin" class="btn btn-dark">Sign In</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <p class="description text-center">
        Nodebucket is a task management application designed to help employees organize their tasks efficiently.
        With Nodebucket, you can easily create, manage, and prioritize your tasks, ensuring that nothing important gets overlooked.
        <br /><br />
        Start managing your tasks more effectively by signing in above!
      </p>
    </div>
  </div>
</div>
